// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$sapphire-blue: #226699;
$sapphire-blue-invert: findColorInvert($sapphire-blue);
$blue-jeans: #55ACEE;
$blue-jeans-invert: findColorInvert($blue-jeans);
$cultured: #F5F5F5;
$cultured-invert: findColorInvert($cultured);
$yellow-crayola: #FFF07C;
$yellow-crayola-invert: findColorInvert($yellow-crayola);
$mandarin: #EF8354;
$mandarin-invert: findColorInvert($mandarin);

// Setup $colors to use as bulma classes (e.g. 'is-background')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($sapphire-blue, $sapphire-blue-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "sapphire-blue": ($sapphire-blue, $sapphire-blue-invert),
    "blue-jeans": ($blue-jeans, $blue-jeans-invert),
    "cultured": ($cultured, $cultured-invert),
    "yellow-crayola": ($yellow-crayola, $yellow-crayola-invert),
    "mandarin": ($mandarin, $mandarin-invert)
);

// Links
$link: $sapphire-blue;
$link-invert: $sapphire-blue-invert;
$link-focus-border: $sapphire-blue;

.navbar-menu.is-active {
    background-color: transparent;
    .navbar-item {
        background-color: transparent;
        color: #fff;
    }
    .navbar-item.is-active {
        font-weight: bold;
        color: #fff07c !important;
    }
}
.navbar-item.is-active {
    font-weight: bold;
    color: #fff07c !important;
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";